<%= form_for(@condicion) do |f| %>
  <% if @condicion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@condicion.errors.count, "error") %> prohibited this condicion from being saved:</h2>

      <ul>
      <% @condicion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_condicion %><br>
    <%= f.text_field :id_condicion %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
