UNIDAD EDUCATIVA
CEAPUCV
SISTEMA DE NEGOCIACION DE LIBROS

Usuario <%= @usuariores.nombre+" "+@usuariores.apellido%> has aceptado la solicitud del libro <%= @libro.titulo%> que hizo el usuario <%= @usuariosol.nombre+" "+@usuariosol.apellido%>

Sus datos de contacto son:
	<%= @usuariosol.correo %>
	<%= @usuariosol.telefono %>

Te invitamos a contactarlo para que concreten la negociacion del Libro.

Por favor no responda a este mensaje.