UNIDAD EDUCATIVA
CEAPUCV
SISTEMA DE NEGOCIACION DE LIBROS

Usuario <%= @usuariosol.nombre+" "+@usuariosol.apellido%> han aceptado tu solicitud del libro <%= @libro.titulo%> cuyo responsable es el usuario <%= @usuariores.nombre+" "+@usuariores.apellido%>

Sus datos de contacto son:
	<%= @usuariores.correo %>
	<%= @usuariores.telefono %>

Te invitamos a contactarlo para que concreten la negociacion del Libro.

Por favor no responda a este mensaje.