UNIDAD EDUCATIVA
CEAPUCV
SISTEMA DE NEGOCIACION DE LIBROS

Usuario <%= @usuario.nombre+" "+@usuario.apellido%> se ha registrado como nuevo usuario en el sistema de Negociacion de Libros, a continuación se le muestra su clave de acceso para el mismo.

Clave de ingreso: <%= @clave %>

Por favor no responda a este mensaje.