UNIDAD EDUCATIVA
CEAPUCV
SISTEMA DE NEGOCIACION DE LIBROS

Usuario <%= @usuario.nombre+" "+@usuario.apellido%> ha indicado que ha olvidado su contraseña para ingresar al sistema a continuación se le presenta su clave registrada:

Clave: <%= @clave %>

Por favor no responda a este mensaje.