UNIDAD EDUCATIVA
CEAPUCV
SISTEMA DE NEGOCIACION DE LIBROS

Usuario <%= @usuario.nombre+" "+@usuario.apellido%> lamentamos informarte que han rechazado tu solicitud del libro <%= @libro.titulo%> 

Ingresa al sistema para solicitar otro libro.

Por favor no responda a este mensaje.