UNIDAD EDUCATIVA
CEAPUCV
SISTEMA DE NEGOCIACION DE LIBROS

Usuario <%= @usuario.nombre+" "+@usuario.apellido%> han solicitado tu libro <%= @libro.titulo %> en el Sistema de Negociación de Libros.

Ingresa para Aceptar o Rechazar esta solicitud.

Por favor no responda a este mensaje.