<%= form_for(@usuario_libro) do |f| %>
  <% if @usuario_libro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario_libro.errors.count, "error") %> prohibited this usuario_libro from being saved:</h2>

      <ul>
      <% @usuario_libro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_libro %><br>
    <%= f.text_field :id_libro %>
  </div>
  <div class="field">
    <%= f.label :id_usuario %><br>
    <%= f.text_field :id_usuario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
