<%= form_for(@usuario_solicitud) do |f| %>
  <% if @usuario_solicitud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario_solicitud.errors.count, "error") %> prohibited this usuario_solicitud from being saved:</h2>

      <ul>
      <% @usuario_solicitud.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_libro %><br>
    <%= f.text_field :id_libro %>
  </div>
  <div class="field">
    <%= f.label :id_usuario %><br>
    <%= f.text_field :id_usuario %>
  </div>
  <div class="field">
    <%= f.label :fecha_solicitud %><br>
    <%= f.date_select :fecha_solicitud %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
