<br/><br/>
<div class="row">
	<h2> <span class="glyphicon glyphicon-edit"></span> Editar Libro</h2>
<div class="col-sm-offset-2 col-sm-10">
	<%=form_tag({controller: 'gestion', action: 'update'}) do %>
		<div class="form-group">	
		    <div class="col-sm-10">
		    	<%= hidden_field_tag 'id', @libro.id  %>
		      <label class="subtitulo">Titulo del Libro</label><br/>
		      <input type="text" class="form-control" name="titulo"  value=<%=@libro.titulo%> >
		      <br/>
		      <label class="subtitulo">Autor del Libro</label><br/>
		      <input type="text" class="form-control" name="autor"  value=<%=@libro.autor%> >
		      <br/>
		      <label class="subtitulo">Editorial del Libro</label><br/>
		      <input type="text" class="form-control" name="editorial"  value=<%=@libro.editorial%> >
		      <br/>
		      <label class="subtitulo">Condiciones del Libro</label><br/>
		      <%= select_tag "condicion", options_from_collection_for_select(@condiciones, "id","descripcion"), class: "form-control" %><br/>
		      <label class="subtitulo">Modalidad del Libro</label><br/>
		      <%= select_tag "modalidad", options_from_collection_for_select(@modalidades, "id","descripcion"), class: "form-control" %><br/>
		      <label class="subtitulo">Año o Grado del Libro</label><br/>
		      <select name="ano" class="form-control">
				  <option value="preescolar">Preescolar</option>
				  <option value="1er Grado">1er Grado</option>
				  <option value="2do Grado">2do Grado</option>
				  <option value="3er Grado">3er Grado</option>
				  <option value="4to Grado">4to Grado</option>
				  <option value="5to Grado">5to Grado</option>
				  <option value="6to Grado">6to Grado</option>
				  <option value="1er Año">1er Año</option>
				  <option value="2do Año">2do Año</option>
				  <option value="3er Año">3er Año</option>
				  <option value="4to Año">4to Año</option>
				  <option value="5to Año">5to Año</option>
			  </select> 
		      <br/>
		    	<div class="col-sm-offset-5 col-sm-10">
		      		<button type="submit" class="btn btn-success btn-lg">Guardar Cambios</button>
		      		<%= link_to "Cancelar" ,{controller:"gestion", action:"index"}, class:"btn btn-default btn-lg" %>
		    	</div>
		    	<br/>
		    </div>
		 </div>
	<% end %>
</div>
</div>
<br/>