<div class="row contenedor_libros">
	<h2> <span class="glyphicon glyphicon-remove"></span> Eliminar Libro </h2>
	<br/>
<% @libros.each do |lib| %>
	<div class="col-md-4">
		<div class="panel panel-default libro">
			<div class="panel-body">
				<b class="subtitulo">Título:</b><p> <%= lib.titulo %></p>
				
				<b class="subtitulo"> Año: </b> <p><%= lib.ano %></p>
				
				<b class="subtitulo">Modalidad: </b> <p><%= lib.modalidad.descripcion %></p>

				
				<%=link_to "Eliminar Libro", {controller:"gestion", action: "eliminar_libro", id:lib.id} , class: "detalles"%>

			</div>
		</div>
	</div>
<% end %>