<div class="row contenedor_libros">
<% @libros.each do |lib| %>
	<div class="col-md-4">
		<div class="panel panel-default libro">
			<div class="panel-body">
				<b class="subtitulo">Título:</b><p> <%= lib.titulo %></p>
				
				<b class="subtitulo"> Grado/Año: </b> <p><%= lib.ano %></p>
				
				<b class="subtitulo">Modalidad: </b> <p><%= lib.modalidad.descripcion %></p>
				
				<%=link_to "Ver detalles", {controller:"gestion", action: "ver_detalles", id:lib.id} , class: "detalles"%>

			</div>
		</div>
	</div>
<% end %>