<div class="row">
		
	<h2> <span class="glyphicon glyphicon-cloud-download"></span> Solicitudes Recibidas </h2>
	<br/>
	<% @solicitudes.each do |sol| %>
		<div class="col-md-4">
			<% sol.usuario.each_with_index do |us,i| %>
				
				<div class="panel panel-default libro">
					<div class="panel-body">
						<p> <%=us.nombre %> <%=us.apellido%> solicito el libro:
						"<%=sol.titulo%>" , el cual esta en la modalidad: "<%=sol.modalidad.descripcion%>" </p>
						<% if sol.modalidad.id==1 %>

							<p>El libro por el cual lo desea intercambiar es: "<%=sol.usuario_libro[i].nombre_libros_intercambio%>", que tiene el autor "<%=sol.usuario_libro[i].autor_libro_intercambio%>", la editorial "<%=sol.usuario_libro[i].editorial_libro_intercambio%>" y pertenece al año "<%=sol.usuario_libro[i].ano_libro_intercambio%>"</p>
						<%end%>

						<br/>
						<a href="#" data-toggle="modal" data-target="#ModalRechazar" class="btn btn-default"> Rechazar </a>

						<!-- MOdal de Rechazo -->
						<div class="modal fade" id="ModalRechazar">
							<div class="modal-dialog">
								<div class="modal-content">
							  		<div class="modal-header">
							    		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							    		<h4 class="modal-title">Información</h4>
							  		</div>
							 		<div class="modal-body">
							    		<%=form_tag({controller: "gestion", action: "rechazar"}) do %>
											<div class="form-group">	
											    <div class="col-sm-10">
											    	<input type="hidden" name="id_libro" value="<%=sol.id%>" >
											    	<input type="hidden" name="id_persona" value="<%=us.id%>" >
											      	¿Está seguro que desea rechazar esta petición?
											      	
											      	<button type="submit" class="btn btn-success">Si</button>
										    		<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
												</div>
										  	</div>
							  			<% end %>	
							  		</div>
							  		
								</div>
							</div>
						</div>

						<%= link_to "Aceptar" , {controller:"gestion", action:"aceptar", id_libro:sol.id ,id_persona:us.id} , class: "btn btn-success" %>

					</div>
				</div>
			<% end %>
		</div>
	<% end %>
</div>


