<div class="row">
	<div class="contenedor">
		<h2> <span class="glyphicon glyphicon-cloud-upload"></span> Solicitudes Enviadas <h2>
		<br/>
		<% if @solicitudes.count>0 %>
			<% @solicitudes.each do |sol| %>
				<div class="col-md-4">

					<div class="panel panel-default libro">
						<div class="panel-body">
							<p>  Usted solicitó el libro: "<%=sol.libro.titulo%>" , en la modalidad: "<%=sol.libro.modalidad.descripcion%>" y en la fecha: <%= sol.fecha_solicitud %>. 
							 </p>
							<br/>
						</div>
					</div>
				</div>
			<% end %>
			<br/>
			<div class="col-md-12 col-sm-12 col-lg-12">
				<h4>Aun no han respondido tus solicitudes, cuando se reciba una respuesta le llegara un correo con la información</h4>
			</div>
		<%else%>
			<div class="col-md-12 col-sm-12 col-lg-12">
				Usted no posee solicitudes enviadas
			</div>
		<%end%>
	</div>
</div>


