<div class="row">
	<div class="contenido">
		<h2> Datos del Libro </h2>
		<b class="subtitulo">Título:</b><p> <%=@libro.titulo %></p>
		
		<b class="subtitulo">Autor:</b> <p><%=@libro.autor %></p>
		
		<b class="subtitulo">Editorial</b>: <p><%=@libro.editorial %></p>
		
		<b class="subtitulo">Condiciones:</b><p> <%= @libro.condicion.descripcion %></p>
		
		<b class="subtitulo">Modalidad:</b><p> <%= @libro.modalidad.descripcion %></p>

		<%if @libro.modalidad.id == 2 %>
			<b class="subtitulo"> Precio: </b> <p> <%=@libro.precio%></p>
		<%end%>

		<b class="subtitulo">Grado/Año:</b> <p> <%= @libro.ano %></p>
	</div>
	
	<div class="col-md-6 col-md-offset-4">
		<%=link_to "Volver", {controller:"gestion", action: "index"}, class: "btn btn-default btn-lg" %>
		<% if @libro.modalidad.id == 1 %>
			<a href="#" data-toggle="modal" data-target="#ModalIntercambio" class="btn btn-success btn-lg"> Solicitar Libro </a>
		<% else %>
			<%=link_to "Solicitar Libro", {controller:"gestion", action: "solicitar_libro" , id:@libro.id}, class: "btn btn-success btn-lg" %>
		<%end%>
	</div>
</div>

<% if @libro.modalidad.id == 1 %>
	<div class="modal fade" id="ModalIntercambio">
		<div class="modal-dialog">
			<div class="modal-content">
		  		<div class="modal-header">
		    		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		    		<h4 class="modal-title">Intercambiar Libro</h4>
		  		</div>
		 		<div class="modal-body">
		    		<%=form_tag({controller: "gestion", action: "solicitar_libro"}) do %>
						<div class="form-group">	
						    <div class="col-sm-10">
						    	<input type="hidden" name="id" value="<%=@libro.id%>" >
						      	Seleccione el libro con el cual desea realizar el intercambio:
						      	<%=select_tag "libro_intercambio", options_from_collection_for_select(@seleccion, "titulo", "titulo"), class:"form-control" %>
						    </div>
					  	</div>
					  	<br/>
	
					  	<div class="modal-footer">
				  			<button type="submit" class="btn btn-success btn-lg">Seleccionar</button>
				    		<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancelar</button>
				    	</div>
		  				
		  			<% end %>	
		  		</div>
		  		
			</div>
		</div>
	</div>
<%end%>

