<DOCTYPE!>
<html>
	<head>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		  <%= csrf_meta_tags %>

	</head>

	<body>
			<div class="container">
				<div class="row">
					<ul class="nav nav-pills">
						<li>
							<a href="/sesion/indexadmin"><span class="glyphicon glyphicon-plus"></span>Agregar Usuarios</a>
						</li>
						<li>
							<a href="/sesion/elimuser"><span class="glyphicon glyphicon-remove"></span> Eliminar Usuario</a>
						</li>
						<li>
							<a href="/sesion/cerrar_sesion"> <span class="glyphicon glyphicon-off"> </span> Cerrar Sesión </a>
						 </li>
					</ul>
				</div>
				
				<br/>

				<% if flash[:mensaje] %>
						<div class="notice">
							<%= flash[:mensaje] %>
						</div>
						<br/>
		  		<% end %>
		  		<br/>
				<div class="row">
					<div class=" col-sm-12 col-md-12 col-lg-12">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th class="subtitulo">Nombre</th>
									<th class="subtitulo">Apellido</th>
									<th class="subtitulo">Correo Electónico</th>
									<th class="subtitulo">Acción</th>
								</tr>
							</thead>
							<tbody>
								<% @usuarios.each do |usuario| %>
									<tr>
							        <td><%= usuario.nombre %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							        <td><%= usuario.apellido %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							        <td><%= usuario.correo %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							        <td><%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
							        </tr>
							    <% end %>
							</tbody>
						</table>
					</div>
				</div>

				<% if flash[:mensaje] %>
					<% flash[:mensaje] %>
	  			<% end %>
	  		</div>
  	</body>
 </html>