<br/><br/>
<div class="row">
	<div class="col-md-5 col-lg-5 col-md-offset-4">
		<div class="panel panel-success">
			<div class="panel-heading">Ingresar al Sistema</div>
			
 			<div class="panel-body">
 				<%=form_tag({controller: "sesion", action: "validar_sesion"}) do %>
					<div class="form-group">	
					    <div class="col-sm-12 col-md-12 col-lg-12">
					    	<% if flash[:mensaje] %>
								<div class="panel panel-danger">
									<div class="panel-heading"> Error </div>
							 		<div class="panel-body">
										<%= flash[:mensaje] %>
									</div>
								</div>
							<% end %>
					      <input type="email" class="form-control" name="correo" placeholder="Correo Electrónico">
					      <br/>
					      <input type="password" class="form-control" name="password"  placeholder="Clave">
					      <br/>
					      <button type="submit" class="btn btn-success">Entrar</button>
					      <span><%=link_to "¿Has olvidado tu contraseña?", {controller: "sesion", action: "olvido"} %></span>

					    </div>
				  	</div>
				<% end %>

 			 </div>
			
		</div>
	</div>
</div>

