<div class="center-block panel panel-success">
	<%=form_tag({controller: "sesion", action: "validar_sesion"}) do %>
		<div class="form-group">	
		    <div class="col-sm-10">
		      <input type="email" class="form-control" name="correo" placeholder="Correo Electrónico">
		      <input type="password" class="form-control" name="password"  placeholder="Clave">
		      <br/>
		      <a href="#">¿ Has olvidado tu clave &#63;</a>
		    </div>
	  	</div>
	 
	  	<div class="form-group">
	    	<div class="col-sm-offset-2 col-sm-10">
	      	<button type="submit" class="btn btn-default">Entrar</button>
	    	</div>
	  	</div>
	<% end %>

</div>
