<DOCTYPE!>
	<html>
		<head>
			<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
			  <%= csrf_meta_tags %>

		</head>

		<body>

			
				<div class="container">
					<div class="row">
							<ul class="nav nav-pills">
								<li>
									<a href="#"><span class="glyphicon glyphicon-plus"></span>Agregar Usuarios</a>
								</li>
								<li>
									<a href="/sesion/elimuser"><span class="glyphicon glyphicon-remove"></span> Eliminar Usuario</a>
								</li>
								<li>
									<a href="/sesion/cerrar_sesion"> <span class="glyphicon glyphicon-off"> </span> Cerrar Sesión </a>
								 </li>
							</ul>
					</div>
				</div>
			
				<br/>

				<% if flash[:mensaje] %>
					<div class="notice">
						<%= flash[:mensaje] %>
					</div>
					<br/>
	  			<% end %>

				<div class="col-sm-offset-2 col-sm-10">
						<%=form_tag({controller: 'usuarios', action: "create"}) do %>
							<div class="form-group">	
							    <div class="col-sm-10">
							      <input type="text" class="form-control" name="nombre" placeholder="Nombre">
							      <br/>
							      <input type="text" class="form-control" name="apellido"  placeholder="Apellido">
							      <br/>
							      <input type="text" class="form-control" name="telefono"  placeholder="Telefono">
							      <br/>
							      <input type="email" class="form-control" name="correo"  placeholder="Correo Electronico">
							      <br/>
							    	<div class="col-sm-offset-5 col-sm-10">
							      		<button type="submit" class="btn btn-success btn-lg">Crear</button>
							    	</div>
							    </div>
						<% end %>
					</div>
				</div>

			<%= yield %>

			<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		</body>
	</html>