</br></br>
<% if flash[:mensaje] %>
	<div class="notice">
		<%= flash[:mensaje] %>
	</div>
	<br/>
<% end %>
</br></br>
<div class="row">
	<div class="col-md-5 col-lg-5 col-md-offset-3">
		<div class="panel panel-success">
			<div class="panel-heading">Recordar Contraseña</div>
 			
 			<div class="panel-body">
 				<%=form_tag({controller: "sesion", action: "olvidoc"}) do %>
					<div class="form-group">	
					    <div class="col-sm-10">
					      <input type="email" class="form-control" name="correo" placeholder="Correo Electrónico">
					      <br/>
					      <button type="submit" class="btn btn-success btn-lg">Recordar</button>
					      <%= link_to "Cancelar" , {controller:"sesion", action:"index"}, class:"btn btn-default btn-lg" %>
					    </div>
				  	</div>
				<% end %>

 			 </div>
			
		</div>
	</div>
</div>
