<%= form_for(@modalidad) do |f| %>
  <% if @modalidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@modalidad.errors.count, "error") %> prohibited this modalidad from being saved:</h2>

      <ul>
      <% @modalidad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_modalidad %><br>
    <%= f.text_field :id_modalidad %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
