/******** encabezado ******/

#header{
	width: 100% !important;
	border-top: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
	padding-top: 9px;
	padding-bottom: 3px;
	box-shadow: 0px 7px 15px #e9e9e9;
	-webkit-box-shadow: 0px 7px 15px #e9e9e9;
	-moz-box-shadow: 0px 7px 15px #e9e9e9;
}

#logo{
	width: 44%;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 5px;
}


/*************** LOGUEADO *************/



.libro:hover{
	background:#E6E6E6;
	cursor: pointer;
}

.contenedor_libros{
	margin-top: 40px;
}

.subtitulo{
	color:#7AB77A;
	
	font-size: 18px;
}
p{ font-size: 15px !important; line-height: 1px;}

.detalles{
	font-size: 18px;
	color:#7D9BAE;
	background: transparent;
}

.detalles:hover{
	font-size: 23px;
	text-decoration: none;
	background: transparent;
}

.contenido{
	margin-left: 10px;
}



/*************** MENU *************/

.nav-pills > li > a{
	font-size: 18px;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus{
	background: #E6E6E6;
	color:#7AB77A;
}

/***************** MODAL *****************/

.modal-header{
	background:#7AB77A;
	color:white;
}

