<DOCTYPE!>
<html>

	<head>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  		<%= csrf_meta_tags %>

  		
	</head>

	<body>
			<div id="header">
				<div class="row">
					<%= image_tag "Logo.png", id:"logo" %>
				</div>
			</div>

			<%= yield %>

		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	</body>

</html>