<DOCTYPE!>
<html>

	<head>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  		<%= csrf_meta_tags %>

	</head>

	<body>
		
		<div class="container">	
			<div class="row">
				<%= image_tag "Logo.png", id:"logo" %>
			</div>
		</div>

		<div id="header">
			<div class="container">
				<div class="row">
						<ul class="nav nav-pills">
							<li>
								<a href="/gestion/index"> <span class="glyphicon glyphicon-home"></span> Inicio </a>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Mi cuenta <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="/gestion/mis_solicitudes"> <span class="glyphicon glyphicon-cloud-download"></span>Solicitudes recibidas</a>
									</li>
									<li>
										<a href="/gestion/mis_solicitudes_enviadas"><span class="glyphicon glyphicon-cloud-upload"></span> Ver solicitudes enviadas
									</li>
									<li> <a href="#" data-toggle="modal" data-target="#ModalCambiarClave"> <span class="glyphicon glyphicon-cog"></span>& Cambiar clave </a> </li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-book" > </span>Gestionar Libros <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="/gestion/agregarl"><span class="glyphicon glyphicon-plus"></span> Añadir nuevo libro </a> 
									</li>
									<li>
										<a href="/gestion/editarl"><span class="glyphicon glyphicon-edit"></span>Editar Libro</a>
									</li>
									<li> 
										<a href="/gestion/eliminarl"><span class="glyphicon glyphicon-remove"></span> Eliminar Libro</a>
									</li>
								</ul>
							</li>
							<li><a href="/sesion/cerrar_sesion"> <span class="glyphicon glyphicon-off"> </span> Cerrar Sesión </a> </li>
						</ul>
				</div>
			</div>
		</div>

		<div class="container">
			<%= yield %>
		</div>

		<div class="modal fade" id="ModalInformacion">
			<div class="modal-dialog">
				<div class="modal-content">
			  		<div class="modal-header">
			    		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			    		<h4 class="modal-title">Información</h4>
			  		</div>
			 		<div class="modal-body">
			    		<p class="text-justify"><%= flash[:mensaje] %></p>
			  		</div>
			  		<div class="modal-footer">
			    		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			  		</div>
				</div>
			</div>
		</div>

		l<div class="modal fade" id="ModalCambiarClave">
			<div class="modal-dialog">
				<div class="modal-content">
			  		<div class="modal-header">
			    		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			    		<h4 class="modal-title">Cambiar Clave</h4>
			  		</div>
			 		<div class="modal-body">
			 			<% if flash[:mensaje_error] %>
			 				<div class="panel panel-danger">
			 					<div class="panel-body">
    								<%= flash[:mensaje_error] %>
  								</div>
			 				</div>
			 			<% end %>
			    		<%=form_tag({controller: "gestion", action: "cambiar_clave"}) do %>
							<div class="form-group">	
							    <div class="col-sm-12 col-md-12 col-lg-12">
							      <input type="password" class="form-control" name="password1"  placeholder="Clave">
							      <br/>
							      <input type="password" class="form-control" name="password2"  placeholder="Repita su Clave">
							      <br/>							      
							    </div>
						  	</div>
						  	<br/>
					</div>


					  			<button type="submit" class="btn btn-success">Cambiar</button>
					    		<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					    
					    <% end %>
			  		
				</div>
			</div>
		</div>

		<%= javascript_include_tag "application", "data-turbolinks-track" => false %>

  		<% if flash[:mensaje] %>
  			<script>
  				$('#ModalInformacion').modal("show");
  			</script>
		<% end %>

		<% if flash[:mensaje_error] %>
			<script>
  				$('#ModalCambiarClave').modal("show");
  			</script>
		<% end %>
	</body>

</html>